<br>
<br>
<br>
<h1 class="titulocard"> Destinos</h1>
<div class="container">
    <div class="d-inline-block card custom-card" style="width: 18rem;">
      <%= image_tag "curanto.jpg", class:"card-img-top img-fluid" %>
      <div class="card-body">
        <h5 class="card-title">Curantos Al Hoyo</h5><br>
        <p class="card-text">Contamos con diversos lugares en donde podran encontrar platos tipicos de la zona tales como: curantos, milcaos, pan de papa, asado de cordero, reitimiento, etc.</p>
        <a href="#" class="btn btn-primary">Cotizar</a>
      </div>
    </div>

    <div class="d-inline-block card custom-card" style="width: 18rem;">
        <%= image_tag "aucar.jpg", class:"card-img-top img-fluid" %>
        <div class="card-body">
        <h5 class="card-title">Isla Aucar</h5>
        <p class="card-text">Esta pequeña isla que se encuentra en la comuna de Quemchi, tiene un gran valor turistico y historico debido a su cementerio y iglesia ya q esta es la unica estructura en la pequeña isla.</p>
        <a href="#" class="btn btn-primary">Cotizar</a>
      </div>
    </div>

    <div class="d-inline-block card custom-card" style="width: 18rem;">
        <%= image_tag "iglesialemuy.jpg", class:"card-img-top img-fluid" %>
        <div class="card-body">
          <h5 class="card-title">Iglesias Patrimoniales</h5><br><br>
          <p class="card-text">En la Isla Lemuy tenemos parte de las iglesias patrimoniales, contamos con tours por ellas, consulte por paquetes turisticos.</p>
          <a href="#" class="btn btn-primary">Cotizar</a>
        </div>
      </div>

      
  </div>

  <div class="container">
    <div class="d-inline-block card custom-card" style="width: 18rem;">
        <%= image_tag "interioriglesia.jpg", class:"card-img-top img-fluid" %>
        <div class="card-body">
          <h5 class="card-title">Iglesia De Castro</h5>
          <p class="card-text">Es imposible no pasar a ver esta hermosa iglesia con sus terminaciones y columnas hechas solo de madera.</p>
          <a href="#" class="btn btn-primary">Cotizar</a>
      </div>
    </div>
    
    <div class="d-inline-block card custom-card" style="width: 18rem;">
        <%= image_tag "lavoladora.jpg", class:"card-img-top img-fluid" %>
        <div class="card-body">
        <h5 class="card-title">Miradores</h5>
        <p class="card-text">En isla Lemuy podemos encontrar una gran variedad de miradores, algunos con una mirada mitologica y vistas hermosas hacia los distintos canales q rodean la isla</p>
        <a href="#" class="btn btn-primary">Cotizar</a>
      </div>
    </div>

    <div class="d-inline-block card custom-card" style="width: 18rem;">
        <%= image_tag "muelledelasalmas", class:"card-img-top img-fluid" %>
        <div class="card-body">
          <h5 class="card-title">Muelle de las Almas</h5>
          <p class="card-text"><br><br><br><br></p>
          <a href="#" class="btn btn-primary">Cotizar</a>
        </div>
      </div>
  </div>
  